@{
    ViewData["Title"] = "Attendance";
    var today = DateTime.Now.Date.ToString("yyyy-MM-dd");
}

<div class="panel">
    <div class="Panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Client<strong style="color:red">  *</strong></label>
                <select id="clients" class="form-select">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Allowed Course<strong style="color:red">  *</strong></label>
                <select id="courses" class="form-select">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Operation Date<strong style="color:red">  *</strong></label>
                <input type="text" class="form-control date-picker" id="operationDate" style="padding: 10px" value="@today" />
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Taken Sessions Count<strong style="color:red">  *</strong></label>
                <input id="takenSessionsCount" class="form-control" type="number"  style="padding:10px;" value="1" min="1">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/scripts/AttendanceJS.js" asp-append-version="true"></script>
}
