@{
    ViewData["Title"] = "Material Purchase";
    var today = DateTime.Now.Date.ToString("yyyy-MM-dd");

}

<div class="panel">
    <div class="Panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Client<strong style="color:red">  *</strong></label>
                <select id="clientId" class="form-select">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Material<strong style="color:red">  *</strong></label>
                <select id="materialId" class="form-select">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Cost<strong style="color:red">  *</strong></label>
                <input id="cost" class="form-control" type="number" style="padding:10px;" value="1">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Operation Date<strong style="color:red">  *</strong></label>
                <input type="text" class="form-control date-picker" id="operationDate" value="@today" autocomplete="off"
                       style="padding: 10px" />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/scripts/MaterialPurchaseJS.js" asp-append-version="true"></script>
}