@{
    ViewData["Title"] = "Expenses";
    var today = DateTime.Now.Date.ToString("yyyy-MM-dd");

}

<div class="panel">
    <div class="Panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Employee<strong style="color:red">  *</strong></label>
                <select id="employeeId" class="form-select" style="padding:10px;">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Expense<strong style="color:red">  *</strong></label>
                <select id="expenseTypeId" class="form-select" style="padding:10px;">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Amount<strong style="color:red">  *</strong></label>
                <input id="amount" min="1" class="form-control" type="number" style="padding:10px;" value="1">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Operation Date<strong style="color:red">  *</strong></label>
                <input type="text" class="form-control date-picker" id="operationDate" value="@today" autocomplete="off"
                       style="padding: 10px" />
            </div>

        </div>
    </div>
</div>

<div class="modal" id="ShowData">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"]</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table id="tblShowData" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Expense Name</th>
                            <th>Amount</th>
                            <th>Operation Date</th>
                            <th style="width:50px;">Edit</th>
                        </tr>
                    </thead>
                </table>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="btnCloseModalShowData" class="btn btn-success text-dark fs-1" data-bs-dismiss="modal" style="padding:3px;width:auto">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/scripts/ExpenseJS.js" asp-append-version="true"></script>
}