<!-- _ReportFiltersPartial.cshtml -->
@{
    var today = DateTime.Now.Date.ToString("yyyy-MM-dd");
}

<div class="row" id="divReportFilters" style=" padding:0px; margin:0px">
    <div class="col-lg-3 col-md-3 col-xs-12">
        <label class=" fs-1">Start Date</label>
        <input type="text" class="form-control date-picker" id="startDate" value="@today" autocomplete="off" style="padding: 10px" />
    </div>

    <div class="col-lg-3 col-md-3 col-xs-12">
        <label class="fs-1 ">End Date</label>
        <input type="text" class="form-control date-picker" id="endDate" value="@today" autocomplete="off" style="padding: 10px" />
    </div>

    <div class="col-lg-3 col-md-3 col-xs-12">
        <button type="button" id="btnGenerateReport" class="btn btn-success text-dark fs-1" style="padding:3px;width:120px;margin-top:38px">
            <i class="ace-icon glyphicon  glyphicon-search "></i>
            Search
        </button>
    </div>
</div>
