<div id="ModalConfirmRemove" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remove</h4>
            </div>
            <div class="modal-body">
                <h2> Do you want to Remove the configuration</h2>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Remove()" class="btn btn-danger">
                    Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">No</button>
            </div>
        </div>
    </div>
</div>
<div id="ModalConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <h2> Do you want to Recalculate all categories</h2>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="save()" class="btn btn-success">
                    Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModel">No</button>
            </div>
        </div>
    </div>
</div>
