@{
    ViewData["Title"] = "Enrollments";
    var today = DateTime.Now.Date.ToString("yyyy-MM-dd");
}

<div class="panel">
    <div class="Panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Client<strong style="color:red">  *</strong></label>
                <select id="clients" class="form-select">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Course<strong style="color:red">  *</strong></label>
                <select id="courses" class="form-select">
                </select>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Start Date<strong style="color:red">  *</strong></label>
                <input type="text" class="form-control date-picker" id="startDate" style="padding: 10px" value="@today" />
            </div>



            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Allowed Weeks<strong style="color:red">  *</strong></label>
                <input id="allowedWeeks" class="form-control" type="number" style="padding:10px;" value="1" min="1">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Sessions Count<strong style="color:red">  *</strong></label>
                <input id="sessionsCount" class="form-control" type="number" style="padding:10px;" value="1" min="1">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Cost<strong style="color:red">  *</strong></label>
                <input id="cost" class="form-control" type="number" style="padding:10px;" value="1" min="1">
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Expiration Date</label>
                <input type="text" disabled class="form-control date-picker" id="expirationDate" value="@today" autocomplete="off"
                       style="padding: 10px" />
            </div>

            <div class="col-lg-3 col-md-3 col-xs-12">
                <label class="fw-bold fs-1 mt-5 mb-4">Taken Sessions Count</label>
                <input id="takenSessionsCount" class="form-control" type="number" disabled style="padding:10px;" value="0">
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ShowData">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"]</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table id="tblShowData" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Client name</th>
                            <th>Course name</th>
                            <th>Start date</th>
                            <th>Expiration date</th>
                            <th>Taken sessions count</th>
                            <th style="width:50px;">Edit</th>
                        </tr>
                    </thead>
                </table>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="btnCloseModalShowData" class="btn btn-success text-dark fs-1" data-bs-dismiss="modal" style="padding:3px;width:auto">Close</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/scripts/Enrollmentjs.js" asp-append-version="true"></script>
}
